version: '3.6'
services:
  mongodb:
    restart: always
    image: mongo:latest
    container_name: "mongodb"
    environment:
      - MONGO_INITDB_DATABASE=iqmongodb
      - MONGO_INITDB_ROOT_USERNAME=iquser
      - MONGO_INITDB_ROOT_PASSWORD=figo1190
      - MONGODB_USERNAME='iquser'
      - MONGODB_PASSWORD='figo1190'
      - MONGODB_DATABASE=='iqmongodb'

    volumes:
      - ./data/db:/var/micro-data/mongodb/data/db
    ports:
      - 27017:27017
    command: mongod --smallfiles --logpath=/dev/null # --quiet

  web:
    build: app
    ports:
      - '8000:8000'
